section.services#services
	.container
		.services__columns
			h2.h2.services__title What we do to help our client grow in digital era
			.services__card.card.round
				.card__image-wrap
					img.card__img.card__img--first(src="./services/marketing.svg", alt="Image Alt Text" title="Image Title Text" loading="lazy" decoding="async")
				.card__info
					.h3 Make Your business To Be Better Famous In Internet
					p.text-opacity-60.mt-16 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					a(href="#").card__link.card-link.mt-32.font-semibold
						| Learn more
						span.card-link__arrow
			.services__card.card.round
				.card__image-wrap
					img.card__img.card__img--second(src="./services/technology.svg", alt="Image Alt Text" title="Image Title Text" loading="lazy" decoding="async")
				.card__info
					.h3 Bring Technology To Your Comfrotable Home
					p.text-opacity-60.mt-16 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					a(href="#").card__link.card-link.mt-32.font-semibold
						| Learn more
						span.card-link__arrow
			.services__card.card.round
				.card__image-wrap
					img.card__img.card__img--third(src="./services/positioning.svg", alt="Image Alt Text" title="Image Title Text" loading="lazy" decoding="async")
				.card__info
					.h3 Build Your Digital Product That Suitable For Your Need
					p.text-opacity-60.mt-16 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					a(href="#").card__link.card-link.mt-32.font-semibold
						| Learn more
						span.card-link__arrow