section.projects#projects.bg-accent.text-white
	.container
		.projects__top
			h2.projects__title.h2.w-100 Our Beloved Client
			p.text-opacity-60.max-width-540 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
		ul.projects__list.mt-110
			li.projects__item
				a(href="#").projects__link.text-white.p-8
					span.truncate LOGO CLIENT 1
			li.projects__item
				a(href="#").projects__link.text-white.p-8
					span.truncate LOGO CLIENT 2
			li.projects__item
				a(href="#").projects__link.text-white.p-8
					span.truncate LOGO CLIENT 3
			li.projects__item
				a(href="#").projects__link.text-white.p-8
					span.truncate LOGO CLIENT 4
			li.projects__item
				a(href="#").projects__link.text-white.p-8
					span.truncate LOGO CLIENT 5
			li.projects__item
				a(href="#").projects__link.text-white.p-8
					span.truncate LOGO CLIENT 6
			li.projects__item
				a(href="#").projects__link.text-white.p-8
					span.truncate LOGO CLIENT 7
			li.projects__item
				a(href="#").projects__link.text-white.projects__link--see-more.p-8
					span.truncate More Client