.btn {
	--shadow-transparency: 80%;

	display: inline-block;
	color: var(--white);
	padding: 0.875rem 3rem;
	background-color: var(--accent);
	border: 1px solid var(--accent);
	letter-spacing: 0.04em;
	box-shadow: 5px 10px 20px 0 color-mix(in oklab, var(--primary-light), transparent var(--shadow-transparency));
	transition:
		background-color var(--transition),
		color var(--transition),
		box-shadow var(--transition);

	@media (any-hover: hover) {
		&:hover {
			--shadow-transparency: 70%;

			background-color: var(--white);
			color: var(--accent);
		}
	}
}