.footer {
	padding-inline-end: var(--gutter);

	&__body {
		padding-inline-start: var(--gutter);
		padding-block: clamp(4rem, 10vw, 6rem) 4rem;
	}

	&__cols {
		display: flex;
		justify-content: space-between;
		gap: clamp(2rem, 6vw, 4.635rem);

		@media (width <= 600px) {
			flex-direction: column;
		}
	}

	&__col {
		display: grid;
		align-content: start;
		flex: 1 1 33.333%;

		@media (width > 767px) {
			&.footer__col--first {
				flex: 0 1 37%;
			}

			&.footer__col--second {
				flex: 0 1 19%;
			}

			&.footer__col--third {
				flex: 0 1 34%;
			}
		}
	}

	&__list {
		display: grid;
		align-content: start;

		&.footer__list--gap-16 {
			gap: clamp(0.5rem, 2vw, 1rem);
		}

		&.footer__list--gap-20 {
			gap: clamp(0.5rem, 2vw, 1.25rem);
		}
	}

	&__item {
		&[data-marker] {
			padding-left: 2.25rem;
			position: relative;

			&::before {
				content: attr(data-marker);
				position: absolute;
				top: 0;
				left: 0;
				font-weight: 600;
			}
		}
	}

	&__link {
		color: inherit;

		@media (any-hover: hover) {
			&:hover {
				color: inherit;
				text-decoration: underline;
			}
		}
	}
}
