.hero {
	position: relative;
	display: flex;
	align-items: center;
	min-height: 768px;
	padding-block: clamp(6rem, 10vw, 7.5rem);
	margin-top: -5.5rem;
	background:
		url("/hero/ilustration_bg.svg") 80% 54.5% no-repeat,
		url("/hero/shadow_illustration.svg") 80% 70% no-repeat,
		linear-gradient(0deg, color-mix(in oklab, var(--gradient), transparent 80%) 8.84%, transparent 31.12%);

	@media (width <= 1366px) {
		background:
			url("/hero/ilustration_bg.svg") 94% 54.5% no-repeat,
			url("/hero/shadow_illustration.svg") 97% 70% no-repeat,
			linear-gradient(0deg, color-mix(in oklab, var(--gradient), transparent 80%) 8.84%, transparent 31.12%);
	}

	@media (width <= 1024px) {
		&::before {
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background: linear-gradient(0deg, color-mix(in oklab, var(--gradient), transparent 80%) 8.84%, transparent 31.12%),
				color-mix(in oklab, var(--white), transparent 20%);
		}
	}

	@media (width <= 768px) {
		min-height: 700px;
	}

	@media (width <= 425px) {
		min-height: 600px;
	}

	&__body {
		max-width: 32rem;
		position: relative;
		z-index: 10;
	}
}

.parallax {
	pointer-events: none;

	&__item {
		position: absolute;
		transition: all 0.8s ease-out;
		will-change: transform;

		@media (width <= 1024px) {
			opacity: 0.5;
		}

		@media (width <= 768px) {
			opacity: 0.1;
		}

		&--woman {
			z-index: 4;
			top: 39%;
			left: 78%;

			@media (width <= 1366px) {
				top: 40%;
				left: 84.5%;
			}

			@media (width <= 1024px) {
				top: 40%;
				left: auto;
				right: 2%;
			}
		}

		&--home {
			z-index: 3;
			top: 12%;
			left: 70%;

			@media (width <= 1366px) {
				top: 12.5%;
				left: 74%;
			}

			@media (width <= 1024px) {
				top: 12.5%;
				left: auto;
				right: 5%;
			}
		}

		&--platform {
			z-index: 2;
			top: 46%;
			left: 60%;

			@media (width <= 1024px) {
				top: 55%;
				left: auto;
				right: 17%;
			}
		}

		&--man {
			z-index: 1;
			top: 53%;
			left: 55%;

			@media (width <= 1366px) {
				top: 53%;
				left: 53%;
			}

			@media (width <= 1024px) {
				left: auto;
				top: 63%;
				right: 43%;
			}
		}
	}
}
