dialog.modal#modal.round.p-56.w-100.text-primary
	h3.modal__title.h3 SEND US MESSAGE
	form.form#form.mt-48
		fieldset.form__list#form-list
			label.form__label.gap-8
				span.form__caption Full Name
				input(type="text" name="username" placeholder="Your Name" data-required).form__control.outline.round.w-100
			label.form__label.gap-8
				span.form__caption Email
				input(type="email" name="email" placeholder="Your Email" data-required).form__control._email.outline.round.w-100
			label.form__label.gap-8
				span.form__caption Message
				textarea(name="message" placeholder="Your Message" data-required).form__control.outline.round.w-100
		.form__alert.mt-8#alert Please, fill in all required fields!
		button(type="submit")#submit.btn.btn-lg.round.outline.mt-70.w-100.font-semibold.relative SUBMIT
			.spinner.round
				.loader
	button(type="button" data-component="modal" data-action="close").modal__close-button.close-button.outline
		span.close-button__decor