section.contact#contact.text-white.bg-accent
	.contact__body.bg-primary-lighter
		.container
			.contact__wrap
				.max-width-460
					h2.contact__title.h2.w-100 Intersted to work with our team?
					p.mt-32.text-opacity-60 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
				button(type="button" data-component="modal" data-action="showModal").btn.round.contact__btn.w-100.outline Let’s Talk