header.header#header
	.header__container
		.header__body
			span.logo
				img(src="./logo.svg" alt="Company Logo" title="Another text" decoding="async").logo__icon
			button(type="button" data-component="menu" data-action="showModal").burger.outline
				span.burger__decor
	dialog.menu#menu
		button(type="button" data-component="menu" data-action="close").menu-button-close.outline
			span.menu-button-close__decor
		nav.menu__wrap
			ul.menu__list
				li.menu__item
					a.menu__link.outline.font-semibold(href="#hero" data-component="menu" data-action="close") About
				li.menu__item
					a.menu__link.outline.font-semibold(href="#services" data-component="menu" data-action="close") Services
				li.menu__item
					a.menu__link.outline.font-semibold(href="#projects" data-component="menu" data-action="close") Our Projects
				li.menu__item
					a.menu__link.outline.font-semibold(href="#contact" data-component="menu" data-action="close") Let's Talk
				li.menu__item
					a.menu__link.outline.font-semibold(href="#footer" data-component="menu" data-action="close") Contacts