footer.footer#footer.text-white.bg-accent
		.footer__body.bg-primary-lighter
			.container
				.footer__cols
					.footer__col.footer__col--first
						span.logo
							img(src="./footer-logo.svg" alt="Company Logo" title="Another text" decoding="async" loading="lazy").logo__icon
							.logo__text Afrianska
						ul.footer__list.footer__list--gap-20.mt-32
							li.footer__item(data-marker="A.") Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							li.footer__item(data-marker="T.")
								a(href="tel:+6281273134321").footer__link.outline +62-812-7313-4321
							li.footer__item(data-marker="E")
								a(href="mailto:hello.afrian@gmail.com").footer__link.outline hello.afrian@gmail.com
					.footer__col.footer__col--second
						h3.h3 About US
						ul.footer__list.footer__list--gap-16.mt-32
							li.footer__item
								a(href="#").footer__link.outline About
							li.footer__item
								a(href="#").footer__link.outline What We Do
							li.footer__item
								a(href="#").footer__link.outline Project
							li.footer__item
								a(href="#").footer__link.outline How It Work With Us
					.footer__col.footer__col--third
						h3.h3 Follow US
						ul.footer__list.footer__list--gap-16.mt-32
							li.footer__item
								a(href="#" target="_blank").footer__link.outline Instagram
							li.footer__item
								a(href="#" target="_blank").footer__link.outline Facebook
							li.footer__item
								a(href="#" target="_blank").footer__link.outline LinkedIn
							li.footer__item
								a(href="#" target="_blank").footer__link.outline Youtube
				.mt-64.text-opacity-40 2019 © Afrianska. All rights reserved.